body {
  background: #eee;
  font-family: sans-serif;
  
}

.card {
  width: 400px;
  background: #fff;
  padding: 10px;
  margin: 16px auto;
  
}

.title {
  background: #e3f4ff;
  font-size: 16px;
  padding: 10px;
}

.content {
  background: #e3f4ff;
  font-size: 16px;
  padding: 10px;
  margin-bottom: 10px;
}

.button-container {
  background: #e3f4ff;
  padding: 10px;
  text-align: center;
 
}

button {
  display: block;
  padding: 10px;
  background: white;
  border: 1px solid #eee;
  margin: auto;
}